.container {
  width: 115%;
  margin: 30px auto;
  overflow: hidden;
  padding-left: 400px;
}

.bar {
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: white;
    width: 80%;
    margin:  2% 2% 5px 2%;
 }

.bar {
   font-weight: lighter;
   color: black;
 }

.banda {
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: white;
    width: 80%;
    margin:  2% 2% 5px 2%;
 }

.banda {
   font-weight: lighter;
   color: black;
 }

img{
  width: 300px;
  height: 300px;
  padding-top: 15px;
}

#detalle{
}