*{
	margin:0;
	padddin:0;
	font-family:tahoma, sans-serif;
	box-sizing:border-box;
}

.chatbox{
	width:1150px;
	min-width:390px;
	heigth:600px;
	background:#fff;
	padding:25px;
	margin:20px auto;
	box-shadow:0 3px #ccc;
}

.chatlogs{
	padding:10px;
	width:100%;
	heigth:450px;
	overflow-x:hidden;
	overflow-y:scroll;
}

.chatlogs .self{
	padding-left: 300px;
}

.chatlogs .friend{
	padding-left: 50px;
}

.chatlogs::-webkit-scrollbar{
	width:10px;
}

.chatlogs::-webkit-scrollbar{
	border-radius:5px;
	background:rgba(0,0,0,.1);
}

.chat{
	display:flex;
	flex-flow:row wrap;
	align-items:flex-start;
	margin-bottom:10px;
}

.chat .user-photo{
	width:60px;
	height:60px;
	background:#ccc;
	border-radius:50%;
	overflow:hidden;
}

.chat user-photo img{
	width:100%;
}

.chat .chat-message{
	width:80%;
	padding:15px;
	margin:5px 10px 0;
	background:#1ddced;
	border-radius:10px;
	color:#fff;
	font-size:20px;
}

.friend .chat-message{
	background:#1adda4;
}

.self .chat-message{
	background:#1ddced;
	order:-1;
}

.chat-form{
	margin-top:20px;
	display:flex;
	align-items:flex-start;
}

.chat-form textarea{
	background:#fbfbfb;
	width:1000px;
	height:150px;
	border:2px solid #eee;
	border-radius:3px;
	resize:none;
	padding:10px;
	font-size:20px;
	color:#333;
}

.chat-form textarea:focus{
	background:#fff;
}

.chat-form button{
	background:#1ddced;
	padding:5px 15px;
	font-size:20px;
	color:#fff;
	border:none;
	margin:0 10px;
	border-radius:3px;
	box-shadow:0 3px 0 #0eb2c1;
	cursor:pointer;
	width:80px;
	heigth:30px;

	-webkit-transition:background .2 ease;
	-moz-transition:background .2 ease;
	-o-transition:background .2 ease;
}

.chat-form button:hover{
	background:#13c8d9;
}