#centrado{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#imgtokin{
    padding-top: 30px;
    height: 40vh;
    width: 18%;
    opacity: 1;
    display:block;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 10px;
    padding-bottom: 10px;

}

button{
  border-radius: 4px;
  background-color: #882854;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding:18px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-bottom: 20px;

}

#eltit2{

    display: block;
    font-size: calc(2vw + 1vh);
    font-weight: 400;
    color:black;
    font-style: oblique;
    text-align: center;
    margin-right: 40px;
    margin-bottom: 10px;

}

button a:hover{
  font-size:25px;
  color:#292954;
  text-decoration: none;

}