body{
  text-align: center;
  background-color:#E9EBEE;
  font-family: 'Roboto', sans-serif;

}


.list{
    position: absolute;
    padding-top: 20px;
    padding-bottom: 30px;
    margin:auto;
    margin-left: 150px;
    margin-right: 300px;
    color: black;

}

.list h2{
  color:#333;
  font-weight:200;
  padding-left:10px;
  margin: 10px 10px 10px 10px;
  margin-bottom: 20px;
  text-align: center;
}

.list ul{
  list-style:none;
  margin:0px;
  padding:0px;
}

.list ul li{
  border:1px solid #CCC;
  padding:15px;
  background-color:#FEFEFE;
  width:75vw;
  margin-bottom:10px;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.10);
  border-radius: 6px;
  position: relative;
}

.list ul li span{
  display:block;
  text-align: left;
}

.list ul li span.name{
  font-weight:500;
  font-size:20px;
}

.list ul li span.date{
  color:#666;
  font-weight:5300;
  font-size:16px;
  padding-top:5px;
}

.list ul li .rechazar{
  position: absolute;
  color:#CC0000;
  font-size:20px;
  font-weight:400;
  top:10px;
  right: 10px;
  cursor: pointer;
  margin-left: 60px;
  padding-left: 80px;
  margin-right: 20px;

}

.list ul li .rechazar:hover{
  font-weight:600;
  color:#CC0000;


}


.list ul li .aceptar{
  position: absolute;
  color:#CC0000;
  font-size:20px;
  top:10px;
  right: 100px;
  cursor: pointer;
  margin-left: 50px;
  padding-left: 50px;
  margin-right: 30px;


}

.list ul li .aceptar:hover{
  font-weight:600;
  color:#CC0000;

}

.list ul li .leer{
  position: absolute;
  color:#CC0000;
  font-size:20px;
  font-weight:350;
  top:10px;
  right: 10px;
  cursor: pointer;
}

.list ul li .rechazar:leer{
  font-weight:400;
  text-decoration: underline;
}